Adam Wikström <adamwi@student.chalmers.se> <88833474+Phozel@users.noreply.github.com>
Anna Borgh <annaborg@student.chalmers.se> <93663066+annaborgh@users.noreply.github.com>
Julia Ekeblad <julia.ekeblad@gmail.com> <74048004+juliaeke@users.noreply.github.com>
Tarek Chorfi <keifroch@hotmail.com>
Wilma Nordlund <wilma.nordlund@gmail.com> <86290030+wnordlund@users.noreply.github.com>
